<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.avijit.rms1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_fahim"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_fahim_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.NoActionBar">
        <activity android:name=".ui.News"/>
        <activity android:name=".ui.ReliefRequest" />
        <activity android:name=".ui.AddUserInCompany" />
        <activity android:name=".ui.AddCompany" />
        <activity android:name=".ui.PendingSchedules" />
        <activity android:name=".ui.CompletedSchedules" />
        <activity
            android:name=".ui.StoreRelief"
            android:theme="@style/Theme.MaterialComponents" />
        <activity
            android:name=".ui.FamilyAddress"
            android:theme="@style/Theme.MaterialComponents" />
        <activity android:name=".ui.AddSchedule" />
        <activity android:name=".ui.SearchByNid" />
        <activity android:name=".ui.SignUp" />
        <activity android:name=".ui.Login" />
        <activity
            android:name=".ui.Nav"
            android:theme="@style/Theme.MaterialComponents.NoActionBar" />
        <activity
            android:name=".ui.MainDashboard"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>